<section class="c-product c-product--apps">
  {{> patterns.svg.apps-crop-top }}
  {{> patterns.svg.apps-crop-bottom }}
  <div class="o-layout o-layout__flex c-product__flex">
    <img class="c-product__img" src="/images/product-apps.png" alt="apps product">
    <div class="c-product__info">
      <h4 class="c-product__name">Educational Apps</h4>
      <p class="c-product__description"><span class="c-product__description--bold">Two by Two</span> puts a modern twist on the classic memory game using 40 animals from the AME Kingdom.</p>
      <p class="c-product__description"><span class="c-product__description--bold">Speak, Piggy!</span> gives our animals a voice to help kids answer the long asked question of “what does this animal say?”</p>
    </div>
  </div>
</section>