<section class="c-contact">
  {{> patterns.svg.contact-crop-top }}
  <div class="c-contact__bubbles-left">
    {{> patterns.svg.bubbles }}
  </div>
  <div class="c-contact__bubbles-right"> 
    {{> patterns.svg.bubbles }}
  </div>
  <h2 class="c-contact__title">We're Going Places</h2>
  {{> patterns.components.locations }}
  {{> patterns.components.form }}
</section>