<section class="c-product c-product--flashcards">
  {{> patterns.svg.flashcards-crop-top }}
  {{> patterns.svg.flashcards-crop-bottom }}
  <div class="o-layout o-layout__flex c-product__flex">
    <div class="c-product__info">
      <h4 class="c-product__name">Flashcards</h4>
      <p class="c-product__description">These are printed with Digi-touch technology so you can feel the texture of the animal. Flip the card over to learn more about the animal!</p>
    </div>
    <img class="c-product__img" src="/images/product-flashcards.png" alt="flashcards product">
  </div>
</section>