<section class="c-locations o-layout">
  <h3>A Modern Eden products are sold at these locations. Visit their websites to buy online, or visit them at the store!</h3>
  <div class="c-locations__store-container o-layout__flex">
    <div class="c-locations__store">
      <h5 class="c-locations__info">Blue Turtle Toys</h5>
      <p class="c-locations__info">2314 Far Hills Ave<br>Dayton, OH 45419</p>
      <p class="c-locations__info"><a class="c-locations__link" href="tel: 123-123-1234">(123) 123-1234</a></p>
      <p class="c-locations__info"><a class="c-locations__link" href="https://www.blueturtletoystore.com/"><i>BlueTurtleToyStore.com</i></a></p>
    </div>
    <div class="c-locations__store">
      <h5 class="c-locations__info">Learning Express of Dayton</h5>
      <p class="c-locations__info">101 E Alex Bell Rd #150<br>Dayton, OH 45459</p>
      <p class="c-locations__info"><a class="c-locations__link" href="tel: 937-436-3320">(937) 436-3320</a></p>
      <p class="c-locations__info"><a class="c-locations__link" href="http://www.learningexpress.com/store/dayton/"><i>LearningExpress.com</i></a></p>
    </div>
    <div class="c-locations__store">
      <h5 class="c-locations__info">American Specialty Toy Retailing Association</h5>
      <p class="c-locations__info">432 N. Clark St. Suite 305<br>Chicago, IL 60654</p>
      <p class="c-locations__info"><a class="c-locations__link" href="tel: 312-222-0984">(312) 222-0984</a></p>
      <p class="c-locations__info"><a class="c-locations__link" href="#"><i>ASTRAToy.org</i></a></p>
    </div>
  </div>
</section>