<section class="c-product c-product--posters">
  {{> patterns.svg.posters-crop-top }}
  {{> patterns.svg.posters-crop-bottom }}
  <div class="o-layout o-layout__flex c-product__flex">
    <img class="c-product__img" src="/images/product-posters.png" alt="group of screenprinted posters">
    <div class="c-product__info">
      <h4 class="c-product__name">12" x 16" Screenprinted Posters</h4>
      <p class="c-product__description">These posters are screen printed by hand on French 100 lb. cover paper. Pick from any of the animals in the AME kingdom.</p>
    </div>
  </div>
</section>