<section class="c-product-container">
  <h2>Our Products</h2>
  {{> patterns.components.flashcards }}
  {{> patterns.svg.paws-r }}
  {{> patterns.components.posters }}
  {{> patterns.svg.paws-l }}
  {{> patterns.components.puzzles }}
  {{> patterns.svg.paws-r }}
  {{> patterns.components.apps }}
</section>