<section class="c-product c-product--puzzles">
  {{> patterns.svg.puzzles-crop-top }}
  {{> patterns.svg.puzzles-crop-bottom }}
  <div class="o-layout o-layout__flex c-product__flex">
    <div class="c-product__info">
      <h4 class="c-product__name">Wall Puzzles and Decor</h4>
      <p class="c-product__description">Made with Blik Re-Stik, AME wall puzzles and decals can be moved and reused. Collect all four habitats: Farm, Rain Forest, Polar, and Grassland.</p>
    </div>
    <img class="c-product__img" src="/images/product-puzzles.png" alt="group of wall decal puzzle packages">
  </div>
</section>