<section class="c-quote">
  {{> patterns.svg.quote-crop-top }}
  {{> patterns.svg.quote-crop-bottom }}
  <div class="c-quote__layout o-layout o-layout__flex o-layout__vertical-space">
    {{> patterns.svg.owl }}
    <blockquote class="c-quote__info">
      {{> patterns.svg.quote-mark }}
      {{> patterns.svg.quote-mark }}
      <p class="c-quote__quote-content">When my wife and I had our first child, I couldn’t find any artwork that I liked for the nursery. That’s when I created the animal posters that started A Modern Eden. AME is a wholesale business made up of real people focused on the way thoughtful design can help kids learn and grow while they&nbsp;play.</p>
      <cite class="c-quote__speaker">—Ryan Clark, designer, illustrator, and AME co-founder</cite>
    </blockquote>
  </div>
</section>