<div class="paws paws-r">
  <svg class="paw paw-r-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 75">
    <g fill="#99938A" fill-rule="evenodd" transform="rotate(-140 39.306 36.816)">
      <rect width="22.537" height="15.768" x="-3.38" y="21.962" rx="7.884" transform="rotate(90 7.888 29.846)"/>
      <rect width="28.171" height="16.894" x="13.522" y="5.631" rx="8.438" transform="rotate(90 27.607 14.078)"/>
      <rect width="22.537" height="16.894" x="59.722" y="21.962" rx="8.438" transform="rotate(90 70.99 30.41)"/>
      <rect width="28.171" height="16.894" x="36.622" y="5.631" rx="8.438" transform="rotate(90 50.707 14.078)"/>
      <path d="M33.23 32.662h11.854c12.13 0 21.962 9.833 21.962 21.963 0 7.983-6.471 14.454-14.454 14.454-1.092 0-2.18-.124-3.244-.369a44.022 44.022 0 0 0-9.909-1.133c-3.433 0-6.869.403-10.306 1.209-7.821 1.833-15.647-3.02-17.48-10.842a14.545 14.545 0 0 1-.385-3.32c0-12.129 9.833-21.962 21.963-21.962z"/>
    </g>
  </svg>
  <svg class="paw paw-r-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 75">
    <g fill="#99938A" fill-rule="evenodd" transform="rotate(-140 39.306 36.816)">
      <rect width="22.537" height="15.768" x="-3.38" y="21.962" rx="7.884" transform="rotate(90 7.888 29.846)"/>
      <rect width="28.171" height="16.894" x="13.522" y="5.631" rx="8.438" transform="rotate(90 27.607 14.078)"/>
      <rect width="22.537" height="16.894" x="59.722" y="21.962" rx="8.438" transform="rotate(90 70.99 30.41)"/>
      <rect width="28.171" height="16.894" x="36.622" y="5.631" rx="8.438" transform="rotate(90 50.707 14.078)"/>
      <path d="M33.23 32.662h11.854c12.13 0 21.962 9.833 21.962 21.963 0 7.983-6.471 14.454-14.454 14.454-1.092 0-2.18-.124-3.244-.369a44.022 44.022 0 0 0-9.909-1.133c-3.433 0-6.869.403-10.306 1.209-7.821 1.833-15.647-3.02-17.48-10.842a14.545 14.545 0 0 1-.385-3.32c0-12.129 9.833-21.962 21.963-21.962z"/>
    </g>
  </svg>
  <svg class="paw paw-r-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 75">
    <g fill="#99938A" fill-rule="evenodd" transform="rotate(-140 39.306 36.816)">
      <rect width="22.537" height="15.768" x="-3.38" y="21.962" rx="7.884" transform="rotate(90 7.888 29.846)"/>
      <rect width="28.171" height="16.894" x="13.522" y="5.631" rx="8.438" transform="rotate(90 27.607 14.078)"/>
      <rect width="22.537" height="16.894" x="59.722" y="21.962" rx="8.438" transform="rotate(90 70.99 30.41)"/>
      <rect width="28.171" height="16.894" x="36.622" y="5.631" rx="8.438" transform="rotate(90 50.707 14.078)"/>
      <path d="M33.23 32.662h11.854c12.13 0 21.962 9.833 21.962 21.963 0 7.983-6.471 14.454-14.454 14.454-1.092 0-2.18-.124-3.244-.369a44.022 44.022 0 0 0-9.909-1.133c-3.433 0-6.869.403-10.306 1.209-7.821 1.833-15.647-3.02-17.48-10.842a14.545 14.545 0 0 1-.385-3.32c0-12.129 9.833-21.962 21.963-21.962z"/>
    </g>
  </svg>
</div>