@font-face {
  font-family: AvenirNext;
  src: url("/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),
       url("/fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
       url("/fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
       url("/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AvenirNext;
  src: url("/fonts/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix");
  src: url("/fonts/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix") format("eot"),
       url("/fonts/5c57b2e2-f641-421e-a95f-65fcb47e409a.woff2") format("woff2"),
       url("/fonts/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),
       url("/fonts/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}